<nav class="navbar navbar-expand-lg custom-navbar fixed-top">
  <div class="container">
    <img src="logo.png" alt="Logo" class="navbar-logo"/>
    <a class="navbar-brand" href="#">mr'Thushara</a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/resume">Resume</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
      </ul>
      
      <form class="d-flex ms-3" role="search">
        <input class="form-control me-2 search-input" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-search" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>